# Workshop 02 - Science Day at TDC NET - 04 October 2023

Run the cell by pressing "Shift+Enter"

In [1]:
%matplotlib widget
import script as s
s.main

Importing modules
Imports done
Prepared data
Creating graphs

VBox(children=(HTML(value='<div style="font-size: 2em; font-weight: bold;display: flex;justify-content: centerâ€¦

In [3]:
s.prediction_log_df

,Time,Mean Absolute Error,Mean Percentage Error,Weights
0,2023-10-01 17:48:35.807468,1.831340,22.953032,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
1,2023-10-01 17:50:02.195362,1.741411,21.534982,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
2,2023-10-01 17:50:04.833589,1.936087,23.712450,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
3,2023-10-01 17:50:07.396735,2.149954,26.213459,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
4,2023-10-01 17:50:09.516521,2.043636,24.793656,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
5,2023-10-01 17:50:12.940514,2.189595,26.587421,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
6,2023-10-01 17:50:15.064762,2.088751,25.045730,"{'Occupation': 0.45, 'Family Type': 0.0, 'Fami..."
7,2023-10-01 17:50:19.213041,1.785213,22.175424,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
8,2023-10-01 17:50:24.378819,1.640925,20.285079,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
9,2023-10-01 17:50:28.663519,1.747438,21.527480,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
10,2023-10-01 17:50:31.515833,1.704756,20.906453,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
11,2023-10-01 17:50:34.056376,1.865396,22.670259,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
12,2023-10-01 17:50:37.262796,2.534269,30.349721,"{'Occupation': 0.0, 'Family Type': 0.0, 'Famil..."
13,2023-10-01 17:50:39.447300,2.834263,32.818773,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
14,2023-10-01 17:50:41.683463,3.588596,41.323503,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
15,2023-10-01 17:50:46.332775,3.629033,41.627770,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
16,2023-10-01 17:50:48.773473,3.743606,43.352765,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
17,2023-10-01 17:50:51.481622,2.004341,23.903728,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
18,2023-10-01 17:50:54.072745,2.750312,32.107817,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
19,2023-10-01 17:50:57.314657,2.845659,33.131091,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
20,2023-10-01 17:50:59.905539,3.030125,35.889581,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
21,2023-10-01 17:51:02.665802,3.034563,35.658360,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."
22,2023-10-01 17:51:05.914781,3.129674,36.952933,"{'Occupation': 0.8, 'Family Type': 0.0, 'Famil..."