In [7]:
%matplotlib widget
import script as s

In [8]:
s.main

HBox(children=(VBox(children=(HBox(children=(VBox(children=(HTML(value='Occupation'), HTML(value='Family Type'â€¦

In [9]:
s.pd.DataFrame(s.prediction_log)

,0,1,2,3,4
0,2023-09-25 22:42:32.656043,"{'Occupation': 0.0, 'Family Type': 0.3, 'Famil...",0 8.214817 1 12.689354 2 8.97...,43.01,3.77
1,2023-09-25 22:42:38.483802,"{'Occupation': 0.0, 'Family Type': 0.3, 'Famil...",0 8.576474 1 7.647444 2 12.11...,52.95,4.53
2,2023-09-25 22:43:58.002182,"{'Occupation': 0.0, 'Family Type': 0.3, 'Famil...",0 16.089851 1 13.377779 2 8.92...,47.67,4.23
3,2023-09-25 22:44:09.867070,"{'Occupation': 0.0, 'Family Type': 0.3, 'Famil...",0 15.552347 1 10.496925 2 5.45...,75.78,6.62